html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
    font-family: Roboto, sans-serif;
}


.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: red;
  text-shadow: 5px;
}
.text-vcenter h1 {
    text-shadow: 40px;
}
  
/* First background image */
#home {
  background: url(imgs/IMG.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#scrolling {
  background: url(imgs/bello.jpg) no-repeat center center fixed;
  display: table;
  height: 50%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.col-lg-12 {
    padding-top: 3%;
    font-size: 300%;

}

.row {
    padding-bottom: 10%;
}

.col-md-4 {
    text-align: center;
    margin-top: 3%;
}
.col-md-4 img {
  margin: 0 auto;
}
.col-md-4 h4 {
  margin-top: 3%;
  margin-bottom: 0;
  text-transform: none;
}
.col-md-4 p {
  margin-top: 3%;
}

/*timeline*/
#Avanzamenti_progetto {
    padding-top: 2%;
}

#Sposta-sotto {
    width: 100%;
}


.page-header {
  text-align: center;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

/*FOOTER*/

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;    
}

.btn, .form-control {
    border-radius: 2px;
    box-shadow: none !important;
}

/*FOOTER*/
.footer a {
    color: #DDD;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #FFF;
}

.footer .footer {
    background-color: #2E3436;
    padding: 35px 0;
    margin-top: 5em;
}

.footer .footer .footer-desc p {
    color: #DDD;
    margin: 15px 0 8px;
}

.footer .footer .social {
    margin: 0 auto;
    display: table;
}

.footer .footer .social li {
    float: left;
}

.footer .footer .social li a {
    display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    background-color: #222728;
    border-radius: 2px;
    margin: 15px 4px
}

.footer .footer .social li a:hover {
    background-color: #3A4144;
}

.footer .footer .input-group {
    margin: 15px 0;
}

.footer .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
    font-size: 15px;
}

.footer .footer .form-control:hover,
.footer .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
    font-size: 15px;
}

.footer .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer .footer-bottom ul li {
    display: inline-block;
}

/*brief opening image*/
/* First background image */
#brief {
 position: relative;
    top:;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: -100;

}

#storia {
  padding-top: 6%;
}

#right {
  padding-left: 3%;
}

#left {
  padding-right: 3%;
}





